# Uncomment the following to prevent the httpoxy vulnerability
# See: https://httpoxy.org/
#<IfModule mod_headers.c>
#    RequestHeader unset Proxy
#</IfModule>

<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteRule    ^(\.well-known/.*)$ $1 [L]
    RewriteRule    ^$    webroot/    [L]
    RewriteRule    (.*) webroot/$1    [L]
</IfModule>
<IfModule mod_expires.c>
      ExpiresActive On
      ExpiresDefault "access plus  1 month"
      # Your document html
      ExpiresByType text/html "access plus 0 seconds"
      # Favicon (cannot be renamed)
      ExpiresByType image/x-icon "access plus 1 week"



      # Media: images, video, audio
      ExpiresByType image/gif "access plus 1 month"
      ExpiresByType image/png "access plus 1 month"
      ExpiresByType image/jpeg "access plus 1 month"
      ExpiresByType video/ogg "access plus 1 month"
      ExpiresByType audio/ogg "access plus 1 month"

      ExpiresByType audio/basic "now plus 1 month"
      ExpiresByType audio/mid "now plus 1 month"
          ExpiresByType audio/midi "now plus 1 month"
          ExpiresByType audio/mpeg "now plus 1 month"
          ExpiresByType audio/mp3 "now plus 1 month"
      ExpiresByType video/mp4 "access plus 1 month"
      ExpiresByType video/webm "access plus 1 month"
      # Webfonts
      ExpiresByType application/x-font-ttf "access plus 1 month"
      ExpiresByType font/opentype "access plus 1 month"
      ExpiresByType application/x-font-woff "access plus 1 month"
      ExpiresByType application/x-font-woff2 "access plus 1 month"
      ExpiresByType image/svg+xml "access plus 1 month"
      ExpiresByType application/vnd.ms-fontobject "access plus 1 month"

        # CSS and JavaScript
        ExpiresByType text/css "access plus 1 year"
        ExpiresByType application/javascript "access plus 1 year"

      ExpiresByType application/xhtml+xml "access plus 600 seconds"
    </IfModule>
